/* You can add global styles to this file, and also import other style files */
.red_border {
	border-color : red!important;
 }

#chartdiv {
	width: 100%;
	height: 500px;
  }	
<<<<<<< HEAD
 .txtupper {text-transform: uppercase;}
=======
 .txtupper {
	text-transform: uppercase;
  }
  
 #ReInvite_Modal .modal-dialog {
	margin: 20% auto;
	width: 400px;
  }
>>>>>>> 828573f62d77d9d993b99dd31431e4e40f20471b
