<div class="clearfix"></div>
<div class="inner_breadcrumb">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <h1>{{assessmentData.AssessmentName}}</h1>
        <div class="clearfix"></div>
         <a routerLink="/dashboard" class="back_btn"><i class="fa fa-reply"></i>Back to Dashboard</a>
      </div>
    </div>
  </div>
</div>
<div class="clearfix"></div>
<!-- End Header Section --> 

<!-- Inner Section -->
<div class="inner_content general_user_section">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-sm-12 col-md-offset-1 text-center">
        <h4><span>Date Taken :</span> {{assessmentData.EndTime | date:'MM-dd-yyyy'}}</h4>
        <h4><span>Team Size :</span> {{assessmentData.TeamSize}} <span>| Covered KSA :</span> {{assessmentData.totalksa}} <span>| Time Taken :</span> 01:12:34</h4>
        <p class="padding_30">{{assessmentData.Description}}</p>
      </div>
      <div class="clearfix"></div>
      <div class="col-md-12">
      	<h2 class="text-center">Result</h2> 
      </div>
      <div class="col-md-4 col-sm-6 col-md-offset-1">
      	<div class="grey_box"><h5>By Domain</h5>
      	<table class="table table-bordered table-hover">
        	<tr>
            	<th class="width_80">Domain</th>
                <th class="text-center width_20">%</th>
            </tr>
            <tr *ngFor="let domain of domainData">
            	<td>{{domain.domain}}</td>
                <td class="text-center">{{domain.PercentOfKSA}}%</td>
            </tr>            
        </table></div>
        
      	<div class="grey_box"><h5>By Rating Scale</h5><table class="table table-bordered table-hover">
        	<tr>
            	<th class="width_80">Rating Scale</th>
                <th class="text-center width_20">%</th>
            </tr>
            <tr *ngFor="let rscale of rscaleData; let i = index">
            	<td>{{i+1}} - {{rscale.Name}}</td>
                <td class="text-center">{{rscale.PercentOfKSA}}%</td>
            </tr>
        </table></div>
      </div>
      <div class="col-md-6 col-sm-6 grey_box">
          <div id="gneraluser_result" class="generaluser_chart_block"></div>
          <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>
<div class="clearfix"></div>
<!-- End Inner Section --> 