<!-- navbar side -->
  <nav class="navbar-default navbar-static-side" role="navigation"> 
    <!-- sidebar-collapse -->
    <div class="sidebar-collapse"> 
      <!-- side-menu -->
      <ul class="nav" id="side-menu">
        <li> 
          <!-- user image section-->
          <div class="user-section">
            
            <div class="user-info">
              <div>{{globals.authData.FirstName}} <strong>{{globals.authData.LastName}}</strong></div>
              <div class="user-text-online"> 
                <!--<span class="user-circle-online btn btn-success btn-circle "></span>&nbsp;Online--> 
              </div>
            </div>
          </div>
          <!--end user image section--> 
        </li>
        <li [ngClass]="{'selected':(globals.currentLink == '/')||(globals.currentLink == '/dashboard')}"> <a (click)="menuopen('/dashboard')" style="cursor:pointer;"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a> </li>
		    <li> <a href="users.html"><i class="fa fa-users fa-fw"></i> Users</a> </li>
        <li [ngClass]="{'selected':(globals.currentLink == '/domain/list')||(globals.currentLink == '/domain/add')||(globals.currentLink == '/domain/edit')}"> <a (click)="menuopen('/domain/list')" style="cursor:pointer;"><i class="fa fa-sitemap fa-fw"></i> Domain</a> </li>
        <li [ngClass]="{'selected':(globals.currentLink == '/competency-area/list')||(globals.currentLink == '/competency-area/add')||(globals.currentLink == '/competency-area/edit')}"> <a (click)="menuopen('/competency-area/list')" style="cursor:pointer;"><i class="fa fa-tasks fa-fw"></i> Competency Area</a> </li>
		    <li [ngClass]="{'selected':(globals.currentLink == '/ksa/list')||(globals.currentLink == '/ksa/add')||(globals.currentLink == '/ksa/edit')}"> <a (click)="menuopen('/ksa/list')" style="cursor:pointer;"><i class="fa fa-question fa-fw"></i> KSA</a></li>
        <li> <a href="tablecourse.html"><i class="fa fa-certificate fa-fw"></i> Course</a> </li>
		<li id="inner_dropdown">
              <a href="#"><i class="fa fa-wrench fa-fw"></i> General Settings<span class="fa arrow"></span></a>
                  <ul class="nav nav-second-level display_block">
					  
					   <li>
                             <a href="tableratiscale.html"> Rating Scale</a>
                       </li>
                     
                       <li>
                             <a href="tablecourlevel.html"> Course Level</a>
                       </li>
                        
                   </ul>
                        <!-- second-level-items -->
         </li>
		 <li> <a href="#"><i class="fa fa-bar-chart fa-fw"></i> Reports</a> </li>
      </ul>
      <!-- end side-menu --> 
    </div>
    <!-- end sidebar-collapse --> 
  </nav>
  <!-- end navbar side --> 