<div class="clearfix"></div>
<div class="inner_breadcrumb">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <h1>Dashboard</h1>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>
<div class="clearfix"></div>
<!-- End Header Section --> 

<!-- Inner Section -->
<div class="inner_content height_zero filter_block">
  <div class="container">
    <div class="row">
    <form class="form-validate" role="form" #SalesDashboardForm="ngForm" (ngSubmit)="addSalesDashboard(SalesDashboardForm)">
      <div class="col-md-3 col-sm-3">
        <div class="form-group">
          <label><span>*</span>Company</label>
          <select class="form-control" #CompanyId="ngModel" (change)="getUserList(SalesDashboardForm)"
          [(ngModel)]="SalesDashboardEntity.CompanyId"
               name="CompanyId"  >  
                 <option value="" ngSelected='SalesDashboardEntity.CompanyId==""' >Select Company </option>
                 <option *ngFor="let Company of CompanyList" value="{{Company.CompanyId}}" 
                 ngSelected="SalesDashboardEntity.CompanyId==Company.CompanyId">{{Company.Name}}</option>
               </select>
             </div>
           </div>
     
     <div class="col-md-3 col-sm-3">
       <div class="form-group">
         <label><span>*</span>User Name</label>
         <select class="form-control" #UserId="ngModel" [(ngModel)]="SalesDashboardEntity.UserId"
               name="UserId" >  
                 <option value="" ngSelected='SalesDashboardEntity.UserId==""' >Select User Name </option>
                 <option *ngFor="let User of UserList" value="{{User.UserId}}" 
                 ngSelected="SalesDashboardEntity.UserId==User.UserId">{{User.Name}}</option>
               </select>
								
        </div>
      </div>
      
      <div class="col-md-3 col-sm-3">
        <button class="next_btn margin_btn_15" type="submit"><span>Filter</span></button>
        <button (click)="clearForm(SalesDashboardForm)" class="red_btn margin_btn_15"><span>Clear</span></button>
      
      </div>
      </form>
    </div>
  </div>
</div>
<div class="clearfix"></div>
<div class="user_section">
  <div class="container">
    <div class="row">
    <h2 class="text-center" *ngIf="Usersearch!=''">List of Users</h2>
      <div class="col-md-3 col-sm-3" *ngFor="let UserL of (Usersearch | paginate: { itemsPerPage:3, currentPage: p} );let i = index ">
        <div class="user_box"(click)="addclass(i)" id="cbox{{i}}">
				  <input type="hidden" name="id" value="{{UserL.UserId}}"/>
          <div class="user_name">{{UserL.FirstName}}</div>
          <p><strong>Email : </strong>{{UserL.EmailAddress}}<br>
            <strong>Phone Number : </strong>{{UserL.PhoneNumber}}<br>
            <strong>Company Name : </strong>{{UserL.Name}}<br>
            <strong>Last Assessment : </strong><span *ngIf="UserL.lastdate!=NULL">{{UserL.lastdate | date :'MM/dd/yyyy'}}</span><span *ngIf="UserL.lastdate==NULL">NA</span><br>
            <strong>Total Assessment : </strong>{{UserL.totalass}}</p>
            
          </div>
      </div>
      
     <div class="clearfix"></div>
     <pagination-controls (pageChange)="p=$event" *ngIf="Usersearch!=''"></pagination-controls>
      <div class="col-md-12">
          <div class="row"  *ngIf="Usersearch==''" >
              <div class="col-md-12">
                <h2> No Assessment Found </h2>
              </div>
              </div>
        
       <button class="next_btn pull-right" [disabled]="vardisabled" type="button"  (click)="clickid()"><span>Next</span></button>
      </div> 
    </div>
  </div>
  <div class="clearfix"></div>
</div>
<div class="clearfix"></div>