
<!-- Inner Section -->
<div class="inner_content login_padding">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3 form_bg">
        <h2 class="text-center">Sign In</h2>
        <div class="clearfix"></div>
        <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
          <div class="form-group">
                                    <label><span>*</span>Email</label>
                                    <input type="email" class="form-control" pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}" #EmailAddress="ngModel" [(ngModel)]="loginEntity.EmailAddress" name="EmailAddress" [ngClass]="{red_border: (EmailAddress.dirty && EmailAddress.invalid) || (EmailAddress.pristine && submitted)}" required/>  
                                    <span style="color:red" *ngIf="(EmailAddress.dirty && EmailAddress.invalid) || (EmailAddress.pristine && submitted)"> 
                                        <span *ngIf="EmailAddress.errors.required || (EmailAddress.pristine && submitted)">Please enter email</span>
                                        <span *ngIf="EmailAddress.errors && EmailAddress.errors.pattern">
                                            Please enter a valid email
                                        </span>
                                        </span>
                                </div>
								<div class="form-group">
                                    <label><span>*</span>Password</label>
                                    <input type="password" class="form-control" pattern="[a-zA-Z0-9.-_@$*&!#]{8,}" #Password="ngModel" [(ngModel)]="loginEntity.Password" name="Password" [ngClass]="{red_border: (Password.dirty && Password.invalid) || (Password.pristine && submitted)}" required/>  
                                    <span style="color:red" *ngIf="(Password.dirty && Password.invalid) || (Password.pristine && submitted)"> 
                                        <span *ngIf="Password.errors.required || (Password.pristine && submitted)">Please enter password</span>
                                        <span *ngIf="Password.errors && Password.errors.pattern">
                                            Minimum lenght is 8 character
                                        </span>
                                    </span>
                                </div>  
          <a href="forgot_password.html" class="forgot_paswd">Forgot Password? </a>
          <button class="next_btn pull-right" type="submit">Sign In</button>
        </form>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
</div>
<div class="clearfix"></div>
<!-- End Inner Section --> 

