<div class="clearfix"></div>
<div class="inner_breadcrumb">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <h1>Assessment</h1>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>
<div class="clearfix"></div>
<!-- End Header Section --> 

<!-- Inner Section -->
<div id='progress_bar'>
  <div id='progress'></div>
</div>
<div class="inner_content height_zero">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3 class="text-center">Development Team</h3>
        <div class="help_intro"><span class="question" data-toggle="tooltip" data-placement="left" title="Help"><i class="fa fa-question-circle-o"></i></span>
          <div class="display_div">
            <h3><i class="fa fa-question-circle-o"></i> Help</h3>
            <p><strong>What does Rating Scale means ?</strong></p>
            <ul class="intro_block">
              <li><span>1</span> - General Awareness</li>
              <li><span>2</span> - Developing</li>
              <li><span>3</span> - Intermediate</li>
              <li><span>4</span> - Advanced</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
      <div class="col-md-2 col-sm-2">
      	<div class="rating_ul">
         <p><strong>What does Rating Scale means ?</strong></p>
            <ul class="intro_block">
              <li><span>1</span> - General Awareness</li>
              <li><span>2</span> - Developing</li>
              <li><span>3</span> - Intermediate</li>
              <li><span>4</span> - Advanced</li>
            </ul>
        </div>
      </div>  
      <div class="col-md-8 col-sm-8 col-md-offset-2">
        <div id="carousel" class="flexslider ksa_list_block">
          <ul class="slides">
                  <li *ngFor="let ksa1 of ksaList; let j = index;">
                      <div class="ksa_numbers">{{(8*j)+1}}-{{(8*j)+ksa1.row.length}} </div>
                      <div class="ksa_completes"><i id="ksa{{(8*j)+1}}_dots" *ngIf="((8*j)+1)<=totalksa" class="fa fa-circle-o"></i><i id="ksa{{(8*j)+2}}_dots" *ngIf="((8*j)+2)<=totalksa" class="fa fa-circle-o"></i><i id="ksa{{(8*j)+3}}_dots" *ngIf="((8*j)+3)<=totalksa" class="fa fa-circle-o"></i><i id="ksa{{(8*j)+4}}_dots" *ngIf="((8*j)+4)<=totalksa" class="fa fa-circle-o"></i><i id="ksa{{(8*j)+5}}_dots" *ngIf="((8*j)+5)<=totalksa" class="fa fa-circle-o"></i><i id="ksa{{(8*j)+6}}_dots" *ngIf="((8*j)+6)<=totalksa" class="fa fa-circle-o"></i><i id="ksa{{(8*j)+7}}_dots" *ngIf="((8*j)+7)<=totalksa" class="fa fa-circle-o"></i><i id="ksa{{(8*j)+8}}_dots" *ngIf="((8*j)+8)<=totalksa" class="fa fa-circle-o"></i></div>
                  </li>
                  <!-- <li>
                      <div class="ksa_numbers">1-6</div>
                      <div class="ksa_completes"><i id="ksa1_dots" class="fa fa-circle-o"></i><i id="ksa2_dots" class="fa fa-circle-o"></i><i id="ksa3_dots" class="fa fa-circle-o"></i><i id="ksa4_dots" class="fa fa-circle-o"></i><i id="ksa5_dots" class="fa fa-circle-o"></i><i id="ksa6_dots" class="fa fa-circle-o"></i></div>
                  </li> -->
          </ul>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
</div>
<div class="clearfix"></div>
<div class="assessment_bg">
  <div class="container">
    <div class="row">
      <form class="form-validate" #assessmentForm="ngForm" (ngSubmit)="finalSubmit()">
      <div id="slider" class="flexslider">      
        <ul class="slides">          
          <li *ngFor="let ksa1 of ksaList; let j = index;">
              <div class="col-md-3 col-sm-4" *ngFor="let ksa of ksa1.row; let i = index">
                  <div class="ksa_box" data-toggle="tooltip" data-placement="bottom" title="Choose your Rating Scale">
                    <div class="ksa_text"><span>{{(8*j)+i+1}}</span> {{ksa.Name}} </div>
                    <div class="radio_box">
                      <div class="radio_box_ksa">
                        <input type="radio" (change)="selectRadio((8*j)+i+1,ksa,i,j)" value="1" #ksa{{j+1}}{{i+1}}_radio="ngModel" [(ngModel)]="ksaList[j].row[i].RatingScaleId" name="ksa{{j+1}}{{i+1}}_radio" id="ksa{{j+1}}{{i+1}}_radio1" required/>
                        <label for="ksa{{j+1}}{{i+1}}_radio1">1</label>
                      </div>
                      <div class="radio_box_ksa">
                        <input type="radio" (change)="selectRadio((8*j)+i+1,ksa,i,j)" value="2" #ksa{{j+1}}{{i+1}}_radio="ngModel" [(ngModel)]="ksaList[j].row[i].RatingScaleId" name="ksa{{j+1}}{{i+1}}_radio" id="ksa{{j+1}}{{i+1}}_radio2" required/>
                        <label for="ksa{{j+1}}{{i+1}}_radio2">2</label>
                      </div>
                      <div class="radio_box_ksa">
                        <input type="radio" (change)="selectRadio((8*j)+i+1,ksa,i,j)" value="3" #ksa{{j+1}}{{i+1}}_radio="ngModel" [(ngModel)]="ksaList[j].row[i].RatingScaleId" name="ksa{{j+1}}{{i+1}}_radio" id="ksa{{j+1}}{{i+1}}_radio3" required/>
                        <label for="ksa{{j+1}}{{i+1}}_radio3">3</label>
                      </div>
                      <div class="radio_box_ksa">
                        <input type="radio" (change)="selectRadio((8*j)+i+1,ksa,i,j)" value="4" #ksa{{j+1}}{{i+1}}_radio="ngModel" [(ngModel)]="ksaList[j].row[i].RatingScaleId" name="ksa{{j+1}}{{i+1}}_radio" id="ksa{{j+1}}{{i+1}}_radio4" required/>
                        <label for="ksa{{j+1}}{{i+1}}_radio4">4</label>
                      </div>
                      <div class="clearfix"></div>
                    </div>
                  </div>
                </div>            
          </li> 
        </ul>      
      </div>
      <div class="text-center">
          <button type="submit" [disabled]="submit_true" class="next_btn">Submit</button>
        <!-- <button class="next_btn" type="submit" onclick="window.location.href = 'thankyou.html'; return false;">Submit</button> -->
      </div>
    </form>
    </div>
  </div>
</div>
<div class="clearfix"></div>

<!-- Preview Popup -->
<div class="modal fade" id="PreviewModal" tabindex="-1" role="dialog" aria-labelledby="PreviewModal" data-backdrop="static" data-keyboard="false" >
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="myModalLabel">Assessment Preview</h2>
      </div>
      <div class="modal-body">
        <div class="preview_ksa">
          <table class="table table-bordered table-striped table-hover">
            <tr>
              <th class="text-center width_5">Sr. No.</th>
              <th class="width_70">KSAs</th>
              <th class="text-left width_30">Rating Scale</th>
            </tr>
            <ng-container *ngFor="let ksa1 of ksaList; let j = index;">
            <tr *ngFor="let ksa of ksa1.row; let i = index">
              <td class="text-center">{{(8*j)+i+1}}</td>
              <td>{{ksa.Name}}</td>
              <td>{{ksa.RatingScaleId}} - 
                <span *ngIf="ksa.RatingScaleId==1">General Awareness</span>
                <span *ngIf="ksa.RatingScaleId==2">Developing</span>
                <span *ngIf="ksa.RatingScaleId==3">Intermediate</span>
                <span *ngIf="ksa.RatingScaleId==4">Advanced</span>
              </td>
            </tr>
          </ng-container>            
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <p><strong>Are you sure you want to submit your Assessment ?</strong></p>
        <button type="button" class="next_btn"  (click)="confirmsubmit()"><span>Yes</span></button>
        <button type="button" class="red_btn" data-dismiss="modal"><span>No</span></button>
      </div>
    </div>
  </div>
</div>
<!-- End Preview Popup --> 