<div class="clearfix"></div>
<div class="thank_you_banner inner_breadcrumb">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12"> <i class="fa fa-thumbs-up"></i>
        <h1>Thank You for your Assessment !!!</h1>
        <div class="clearfix"></div>
        <a href="dashboard.html" class="back_btn"><i class="fa fa-reply"></i>Back to Dashboard</a> </div>
    </div>
  </div>
</div>
<div class="clearfix"></div>
<!-- End Header Section --> 

<!-- Inner Section -->
<div class="inner_content text-center">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-sm-12 col-md-offset-1">
        <h3>Development Team</h3>
        <h4>10-15 Team Size</h4>
        <p class="padding_30">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
        <h2>Result</h2>
        <div class="col-md-10 col-sm-12 col-md-offset-1 grey_box">
          <div class="row"><div class="col-md-2 col-sm-2">
            <ul class="rating_list">
              <li>1 - General Awareness</li>
              <li>2 - Developing</li>
              <li>3 - Intermediate</li>
              <li>4 - Advanced</li>
            </ul>
          </div>
          <div class="col-md-10 col-sm-8">
            <div id="thankyou_result_bar" class="chart_block"></div>
            <div class="clearfix"></div>
          </div></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="clearfix"></div>
<!-- End Inner Section --> 