<div class="clearfix"></div>
<div class="inner_breadcrumb">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <h1>Change Password</h1>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>
<div class="clearfix"></div>

<!-- End Header Section --> 
<!-- Inner Section -->
<div class="inner_content change_padding">
  <div class="container ">
    <div class="row">
      <div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3 form_bg">
        <div class="clearfix"></div>
		<div class="alert alert-{{globals.type}}" role="alert" *ngIf="globals.msgflag">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
  {{globals.message}}
</div>
               <form #newpassForm="ngForm" (ngSubmit)="addNewPassword(newpassForm)">
				
		   <div class="form-group">
                <label><span>*</span>Current Password </label>
                 <input type="password" class="form-control" (keyup)="checkpassword()" pattern="[a-zA-Z0-9.-_@$*&!#]{8,50}" 
				 #Password="ngModel" 
				 [(ngModel)]="newpassEntity.Password" name="Password" [ngClass]="{red_border: (Password.dirty && Password.invalid) || (Password.pristine && submitted)}" required/>
                   <span style="color:red" *ngIf="(Password.dirty && Password.invalid) || (Password.pristine && submitted)">
									<span *ngIf="Password.errors && Password.errors.required">
												Please enter Password
											</span>
										  
										  <span *ngIf="Password.errors && Password.errors.pattern">
												Please input a valid Password.
										  </span>
								</span>
              </div>		
			
          <div class="form-group">
                <label><span>*</span>New Password </label>
                 <input type="password" class="form-control" (keyup)="checkpassword()" pattern="[a-zA-Z0-9.-_@$*&!#]{8,50}" 
				 #nPassword="ngModel" 
				 [(ngModel)]="newpassEntity.nPassword" name="nPassword" [ngClass]="{red_border: (nPassword.dirty && nPassword.invalid) || (nPassword.pristine && submitted)}" required/>
                   <span style="color:red" *ngIf="(nPassword.dirty && nPassword.invalid) || (nPassword.pristine && submitted)">
									<span *ngIf="nPassword.errors && nPassword.errors.required">
												Please enter Password
											</span>
										  
										  <span *ngIf="nPassword.errors && nPassword.errors.pattern">
												Please input a valid nPassword.
										  </span>
								</span>
              </div>
          
		  <div class="form-group">
                <label><span>*</span>Confirm Password</label>
					<input type="password" class="form-control" (keyup)="checkpassword()" pattern="[a-zA-Z0-9.-_@$*&!#]{8,50}" 
					#cPassword="ngModel"
					[(ngModel)]="newpassEntity.cPassword" name="cPassword" [ngClass]="{red_border: (cPassword.dirty && cPassword.invalid) || (cPassword.pristine && submitted)}" required/>
                   <span style="color:red" *ngIf="(cPassword.dirty && cPassword.invalid) || (cPassword.pristine && submitted) || same">
						<span *ngIf="cPassword.errors && cPassword.errors.required && !same">
									Please enter password
								</span>
							  
							  <span *ngIf="cPassword.errors && cPassword.errors.pattern && !same">
									Please input a valid password.
							  </span>
							  <span *ngIf="same && !(cPassword.errors && cPassword.errors.pattern && cPassword.errors.required)">
									Please enter same password.
							  </span>
					</span>
              </div>
          <button class="next_btn pull-right" type="submit">Submit</button>
        </form>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
</div>
<div class="clearfix"></div>
<!-- End Inner Section -->