<div class="home_banner">
  <ul class="bxslider">
    <li><img src="assets/images/banner.jpg" alt="" class="img-responsive" /></li>
    <li style="display:none;"><img src="assets/images/banner1.jpg" alt="" class="img-responsive" /></li>
  </ul>
  <div class="banner_text">
    <div class="title_banner">
      <span>AFP Corporate Training<br> Skills Assessment </span><br>
     Designed for team leads to <br>analyze knowledge gaps.</div>
    <div class="clearfix"></div>
  
	<!-- <a routerLink="/findcompany" class="btn next_btn btn-add" *ngIf="Disinv.Value ==0" >Register Now</a>  -->
	<a routerLink="/invitation" class="btn next_btn btn-add"><span>Register Now</span></a>
	</div>
</div>

